body {
    background-color: rgb(13, 12, 53);
    color: azure;
}
.Table {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Table-btn{
    font: inherit;
    color: inherit;
    border: 2px solid;
    border-color: aliceblue;
    background: none;
    outline: none;
    margin: 0.5em;
    padding: 1em 2em;
    transition: 1s;
    border-radius: 5px;
}

.Table-btn:hover {
    color: rgb(13, 12, 53);
    font-weight: bold;
    background: blueviolet;
    border-color: rgb(179, 137, 255);
    transition: 1s;
    box-shadow: inset 0 0 0 2em rgb(179, 137, 255);
}

.Table-Deck {
    margin-top: 50px;
}

.Table-Title {
    text-transform: uppercase;
    letter-spacing: 5px;
}