* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  padding-top: 30px;
  background: linear-gradient(90deg, #69b7eb, #b3dbd3, #f4d6db);
  /*background: linear-gradient(90deg, #003,  #4b010c);
  background: linear-gradient(90deg, #ffe989, #f4d6db);
  */
  font-size: 1.1rem;
  font-family: 'Quicksand', sans-serif;
  height: 100%;
}

